div(layout="row", ng-cloak)
    .relative(layout="column", layout-fill, role="main")
        md-toolbar.md-whiteframe-20dp(layout="row")
            md-card-avatar
                img.user-avatar(src="../images/cognizant.png")  
            .username-title
        md-content(flex, md-scroll-y)
            div(layout="column", layout-fill, layout-padding)
                div(data-ui-view="loginView")
