doctype html
html(lang='en' data-ng-app='examsApp')
  head
    title examsApp
    meta(name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    |<!-- inject:head:js -->
    |<!-- endinject -->
    |<!-- inject:html -->
    |<!-- endinject -->
    |<!-- bower:css -->
    |<!-- endbower -->
    |<!-- inject:css -->
    |<!-- endinject -->
  body

    .main-view-style(data-ui-view)

    |<!-- bower:js -->
    <script src="bower_components/js/angular-local-storage.min.js"></script>
    |<!-- endbower -->
    |<!-- inject:js -->
    |<!-- endinject -->
