md-card.main-layout.md-whiteframe-10dp(layout="column", layout-fill, layout-padding)
    form(ng-submit="submit(user)" name="login" novalidate)
        md-input-container.input-style
            label Username
            input(ng-model="user.username", required="")
        md-input-container.input-style
            label Password
            input(ng-model="user.password", type="password", required="")
            
        div.button-container(layout="row", layout-fill, layout-padding)
            md-button.md-raised.md-primary.login-button(ng-disabled="login.$invalid", type="submit") Login
            md-button.md-raised.register-button(ng-click="register()") Register
